.cartitems{
    margin: 100px 170px;
}
.cartitems hr{
    height: 1px;
    background:rgb(184, 184, 184) ;
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: rgb(96, 96, 96);
    font-size: 18px;
    font-weight: 600;
}