.newsletter {
  width: 65%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 140px;
  margin-bottom: 150px;
  background: linear-gradient(
    180deg,
    rgb(186, 191, 255) 0%,
    rgb(202, 222, 203) 60%
  );
  gap: 30px;
}
.newsletter h1 {
  color: black;
  font-size: 55px;
  font-weight: 600;
}
.newsletter p {
  color: black;
  font-size: 20px;
}
.newsletter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 730px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid rgb(231, 231, 231);
}
.newsletter input {
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
}

.newsletter div button {
  width: 210px;
  height: 70px;
  border-radius: 80px;
  background: rgb(60, 60, 60);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
}
.newsletter div button:hover {
  background-color: rgb(40, 40, 40);
}
@media only screen and (max-width: 960px) {
  .newsletter h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1500px) {
  .newsletter h1 {
    font-size: 35px;
  }
}
